.mybody {
    margin: 0;
}


.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 0px 12px 2px rgba(24, 15, 15, 0.339)
}

.kochwelt-logo-top {
    height: 64px;
    width: auto;
    object-fit: cover;
    margin-left: 180px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 180px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.menu a:hover {
    color: #008000;
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 3px;
}


.main {
    margin-left: 180px;
    margin-right: 180px;
    padding-bottom: 32px;
}

.title-image {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 12px;
}

.data-up {
    padding-top: 30px;
    padding-bottom: 64px;
    display: flex;
    gap: 24px;

}

.preparation {
    padding-top: 24px;
    padding-bottom: 24px;
}

.preparation-time {
    background-color: #EFEFEF;
    border-radius: 4px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 4px 8px;
}

.preparation-time img {
    height: 16px;
    width: 16px;
}

.ingredients {
    border-top: 1px solid #EFEFEF;
    padding-top: 16px;
    padding-bottom: 8px;
    display: flex;
}

.portion-input {
    width: 130px;
    margin-left: 24px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #EFEFEF;
    padding: 1px 12px;
}

.button {
    background-color: #008000;
    color: white;
    width: 165px;
    border: none;
}

.error {
    color: red;
}

.dNone {
    display: none;
}

.row-style {
    border-radius: 8px;
    padding: 12px 0 12px 30px;
    display: flex;
    gap: 8px;
}

.background-grey {
    background-color: #EFEFEF;
}

.background-white {
    background-color: white;
}

table {
    width: 100%;
}

.data-bottom {
    padding: 30px 0;
    display: flex;
    gap: 24px;
}

.profil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

.profil img {
    height: 90px;
    border-radius: 50%;
}

@media (max-width: 768px) {

    .main {
        margin-left: 60px;
        margin-right: 60px;
        padding-bottom: 32px;
    }

    .portion-input {
        padding: 0;
        height: 53px;
    }
}

@media (max-width: 425px) {

    .main {
        margin-left: 30px;
        margin-right: 30px;
    }

    .portion-input {
        width: 90px;
        height: 53px;
    }
}

@media (max-width: 385px) {

    .main {
        margin-left: 10px;
        margin-right: 10px;
    }

    .data-up {
        gap: 8px;
        padding-bottom: 32px;
    }
}