.container{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title3{
    text-decoration: underline;
    margin: 10px;
    padding: 10px;
}

.form input{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    border: 2px solid #ccc;
}

.form input:focus{
    outline: none;
}

textarea{
    margin: 5px;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    border: 2px solid #ccc;
}
textarea:focus{
    outline: none;
}

.valideinput{
    outline: 2px solid #4E9525;
}

.notvalideinput{
    outline: 2px solid #FF0000;
}

.sendMessage{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 620px;
    border-radius: 10px;
}

.kontakt-content {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}


@media (max-width:700px) {
    .form input{
        width: 500px;
    }

    .form textarea{
        width: 500px;
    }

    .sendMessage{
        width: 500px;
    }
}
@media (max-width:600px) {
    .form input{
        width: 400px;
    }

    .form textarea{
        width: 400px;
    }

    .sendMessage{
        width: 400px;
    }
}
@media (max-width:500px) {
    .form input{
        width: 350px;
    }

    .form textarea{
        width: 350px;
    }

    .sendMessage{
        width: 350px;
    }
}
@media (max-width:400px) {
    .form input{
        width: 250px;
    }

    .form textarea{
        width: 250px;
    }

    .sendMessage{
        width: 250px;
    }
}

