@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 5px rgb(211, 210, 210);
}

.header-logo {
    height: 56px;
    margin-left: 24px;
    cursor: pointer;
}

.header-links {
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    margin-right: 24px;
    margin-bottom: 4px;

    a {
        text-decoration: none;
        color: black;
        margin-right: 16px;
        font-weight: 500;
        line-height: 1.6;

    }

    a:hover {
        color: #008000;
        border-bottom: 4px solid #008000;

    }
}

.content{
    position: relative;
    overflow-x: hidden;
}

.resp_menu_box{
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    width: 150px;

    position: absolute;
    top: 80px;
    right: 0;

    transition: all 250ms ease-in-out;
}

.resp_menu_close{
    transform: translateX(100%);
}

.footer {
    background-color: #403B3B;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

/* .footer-inner {
    padding: 90px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.footer-kochwelt-logo {
    width: 256px;
    height: 80px;
}

.social-logos {
    display: flex;
    align-items: center;
    gap: 24px;
}

.sozial-logo-links {
    width: 220px;
    height: 60px;
    border-radius: 4px;
}

.facebook {
    background-image: url("./assets/img/find-us-on-facebook-icon.png");
    background-size: 220px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center center;
}

.instagram {
    background-image: url("./assets/img/follow-us-on-instagram-icon.png");
    background-size: 220px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center center;
}

.twitter {
    background-image: url("./assets/img/follow-us-on-twitter-icon.png");
    background-size: 220px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center center;
}


h2 {
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.center_heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
}

#franz_crois_section {
    padding: 40px 120px;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    align-items: flex-start;
    gap: 35px;
}

#franz_crois_img {
    height: 450px;
    width: auto;
    border-radius: 6px;
}

.franz_crois_right {
    display: flex;
    flex-direction: column;
}

.franz_crois_info {
    font-size: 29px;
    padding-bottom: 100px;
}

button {
    background-color: #008000;
    border-width: 0;
    color: white;
    width: 300px;
    height: 55px;
    cursor: pointer;
    font-size: 25px;
}

.recipes_img {
    width: 320px;
    height: 320px;
    border-radius: 6px;
}

#recipes_container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 10px;
}

.recipse_title {
    font-size: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
}

#recipes_section {
    background-color: #EFEFEF;
    padding: 40px 120px;
    padding-top: 20px;
}

#vs_section {
    padding: 40px 120px;
    display: flex;
    align-items: center;
}


#vs_img {
    width: 320px;
    height: auto;
    border-radius: 6px;
}

.vs_text {
    font-size: 29px;
}


/***********************************/
/* Impressum */
/***********************************/

.impressum-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    max-width: 1440px;

    a:hover{
        color: rgb(72, 90, 192);
        font-weight: 500;
    }
}



@media (max-width:1040px) {
    .facebook {
        background-image: url("./assets/img/Facebook_Logo_Primary.png");
        background-size: 40px;
    }

    .instagram {
        background-image: url("./assets/img/Instagram_Glyph_Gradient.png");
        background-size: 40px;
    }

    .twitter {
        background-image: url("./assets/img/Twitter_Social_Icon_Circle_Color.png");
        background-size: 40px;
    }

    .social-logos {
        gap: 8px;
    }

    .sozial-logo-links {
        width: 60px;
    }
}

@media (max-width:650px) {
    .header-links {
        display: none;
    }

    .footer-kochwelt-logo {
        height: 56px;
        width: 180px;
    }
}

@media(max-width:440px){
    .footer-kochwelt-logo {
        width: 112px;
        height: 32px;
    }

    .footer{
        height: 80px;
    }

    .facebook {
        background-size: 32px;
    }

    .instagram {
        background-size: 32px;
    }

    .twitter {
        background-size: 32px;
    }

    .social-logos {
        gap: 0px;
    }
}