

header{
    height: 80px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 5px rgb(211, 210, 210);
}

.header-logo{
    height: 56px;
    margin-left: 24px;
    cursor: pointer;
}

.header-links{
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    margin-right: 24px;
    margin-bottom: 4px;

    a{
        text-decoration: none;
        color: black;
        margin-right: 16px;
        font-weight: 500;
        line-height: 1.6;
        
    }

    a:hover{
        color: #008000;
        border-bottom: 4px solid #008000;
        
    }
}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 16px;
}

.reciepe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    max-width: 1440px;
}

.reciepe-image{
    height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
}

.reciepe-short-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
}

.reciepe-short{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    background-color: rgb(235, 233, 233);
    border-radius: 8px;
    height: 36px;

    img{
        height: 16px;
        width: 16px;
        margin-right: 8px;
        padding-left: 8px;
    }

    p{
        font-size: 16px;
        padding-right: 8px;
    }
}

.recipes-seperator{
    height: 1px;
    border-bottom: 1px solid rgb(235, 233, 233);
    margin-top: 48px;
}

.recipes-input-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;

    p{
        margin-right: 8px;
    }

    input{
        height: 33px;
        padding-left: 8px;
        border: 1px solid rgb(235, 233, 233);
        border-radius: 4px 0px 0 4px;
    }

    button{
        background-color: #008000;
        height: 36px;
        padding-left: 24px;
        padding-right: 24px;
        text-align: center;
        cursor: pointer;
        color: white;
        font-size: 16px;
        border: 0;
    }
}

.reciepe-table{
    margin-top: 8px;
    display: flow;
}


.reciepe-table-row-even{
    background-color: rgb(235, 233, 233);
    border-radius: 8px;
    display: flex;
    
}

.reciepe-tabledata{
    padding: 16px 8px 16px 24px;
    font-size: 16px;
}

h3{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 32px;
}

.profil-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img{
        height: 96px;
        border-radius: 50%;
        margin-right: 24px;
    }
}


footer{
    height: 96px;
    background-color: #403b3b;
    margin-top: 48px;
}

.dNone{
    display: none;
}

.error-red{
    color: red;
    font-size: 12px;
}