.title2{
    margin: 20px;
    padding: 10px;
}

.burger{
    display: none;
    margin: 15px;
    width: 70px;
    font-size: 40px;
    height: 70px;
    border: none;
    background-color: transparent;
}

.burger_active{
    display: block;
}

main{
    margin: 0 auto;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
}


.main_rezept{
    max-width: 1440px;
    margin: auto;
}
.banner{
    padding-bottom: 40px;
    box-shadow: 0 1px 0 0 grey;
}

.banner img{
    width: 100%;
    height: 200px;
    height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    margin: 10px;
}
.banner p{
    margin: 10px;
}
span{
    font-size: 15px;
    margin: 10px;
    padding: 7px;
    color: black;
    background-color: #F3F4F0;
    border-radius: 7px;
}
span i{
    margin-right: 5px;
}

.form{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    padding: 8px;
}

.form button{
    margin: 15px;
    padding: 14px;
    margin-left: 0;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background-color: #4E9525;
    border: none;

}
.form input{
    margin: 15px;
    padding-right: 2px;
    margin-right: 0;
    padding: 16px;
    border-radius:10px 0 0 10px;
    padding-right: 0;  
    border: 1px solid grey;
}
.form input:focus{
    outline: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td{
  text-align: left;
  border-radius: 10px;
  padding: 20px;
  margin: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
td span{
    background-color: transparent;
}

.zutate{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ersteller{
    margin: 10px;
    padding-bottom: 50px;
}
.profile{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
}
.profile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.profile p{
    margin: 15px;
    padding: 15px;
}

