body {
    margin: 0;
}

#aot_section {
    flex: 1;
}

#main_container {
    padding: 40px 200px;
}



#img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.icons {
    width: 20px;
}


#border {
    border: 1px solid #efefef;
}

input {
    width: 300px;
    height: 50px;
    font-size: 25px;
}

.input_section {
    padding-top: 50px;
}

.input_container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 10px;
}

.background_grey {
    background-color: #efefef;
    height: auto;
    width: auto;
}

table {
    width: 100%;
    padding-top: 20px;
}

td {
    height: 50px;
    border-radius: 8px;
    padding-left: 20px;
}

#zubereitung_section {
    padding-top: 50px;
}

#profile_img {
    border-radius: 100%;
    height: 100px;
}

#profile_container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.error {
    color: rgb(187, 0, 0);
}

.denone {
    display: none;
}

.icons_section {
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    gap: 15px;
}

.icons_container {
    background-color: #efefef;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    padding-left: 10px;
    padding-right: 10px;
}



@media(max-width: 1200px) {

    h1 {
        text-align: center;
    }

    #main_container {
        padding: 20px 100px;
    }

    td {
        padding-left: 10px;
    }

    #zubereitung_text {
        text-align: center;
    }

    .icons_section {
        justify-content: center;
    }
}

@media(max-width: 900px) {
    h1 {
        font-size: 30px !important;
    }

    .icons_container {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media(max-width: 700px) {
    #main_container {
        padding: 20px 50px;
    }
}

@media (max-width: 650px) {

    th {
        font-size: 14px !important;
    }

    #main_container {
        padding: 10px 5px;
    }

    h2 {
        text-align: center;
    }

    td {
        padding-left: 10px;
    }

    #profile_section {
        padding-left: 20%;
    }

    .icons_section {
        flex-direction: column;
    }

    .icons_container {
        justify-content: center;
    }
}

@media(max-width: 400px) {
    h1 {
        font-size: 18px !important;
    }

    td {
        padding-left: 8px;
    }
}